@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2 class="display-4">
        <a class="nav-link text-dark" asp-area="master" asp-controller="department" asp-action="index">Click for Department Master</a>
    </h2>
</div>
